<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="../static/autoSpanoutput.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

  </head>
  <body>

    <br>

    <div class="gasIcon">
      <!-- <img src="https://i.imgur.com/s6z2Toq.png" alt="gasIcon"/> -->
      <h2 id="carAge">Car Age:<br>{{carAge}}</h2>

   </div>

      <!-- <h1 id="carAge">Car Age:{{carAge}} </h1> -->

    <div class="container2">

      <h1> The TRUE age of your car is {{carAge}} years! <h1>
        <p> This value was meticulously calculated through a mathematical comparison of the human lifespan with the average car's maximum milage.</p>
        <!-- <img src= "{{img_url}}" width= "300px" height= "300px"> -->
        <!-- <h2> Year: {{year}} <h2>
        <p> {{info}} </p> -->
        <p> View Recommended Maintenance Tips Below: </p>

    </div>
        <table id="tableRecs">
          <tr>
            <caption> Recommended Maintenance</caption>
            <th> Doodle</th>
            <th> Doodle2</th>
            <th> Doodle3</th>
            <th>Doodle4</th>
          </tr>

          <tr>
            <td>SpongeBob</td>
            <td>Squidward</td>
            <td>Patrick</td>
            <td> Sandy</td>

          </tr>

          <tr>
            <td>Yogurt</td>
            <td> Ice Cream</td>
            <td>Krabby Patties</td>
            <td> Krabby Patties</td>
          </tr>

          <tr>
            <td>Pineapple House</td>
            <td>Stone Face</td>
            <td>Rock</td>
            <td> Helmet Thing</td>
          </tr>

        </table>


          <button id="button1" type="button"><a href="/">Return Home</a></button>
          <button id="button2" type="button"><a href="/">Share with Others through our Timeline Feature</a></button>

        <p id="poweredBy"> Powered by: <a href="https://www.carmd.com/"> CarMD</a>.</p>
  </body>
</html>


<!-- <form method="post" action="/carResult">

The year your car was manufactured here:<br>
<input id ="Year" type="integer" name = "Year"><br>
The make of your car here:<br>
<input id ="Make" type="text" name = "Make"><br>
The model of your car here:<br>
<input id ="Model" type="text" name = "Model"><br>
The milage of your car here:<br>
<input id = "Mileage" type="float" name = "Mileage"><br>

  <label for="carType">The class of your car here:<br></label>
  <select id="carType" onchange="setPicture();" name="carType">
    <option value="../static/images/carImages/outline.png">Select a Car</option>
    <option value="../static/images/carImages/micro.jpg">Micro</option>
    <option value="../static/images/carImages/sedan.jpg">Sedan</option>
    <option value="../static/images/carImages/cuv.jpg">CUV</option>
    <option value="../static/images/carImages/suv.jpg">SUV</option>
    <option value="../static/images/carImages/hatchback.jpg">Hatchback</option>
    <option value="../static/images/carImages/roadster.jpg">Roadster</option>
    <option value="../static/images/carImages/pickup.jpg">Pickup</option>
    <option value="../static/images/carImages/van.jpg">Van</option>
    <option value="../static/images/carImages/coupe.jpg">Coupe</option>
    <option value="../static/images/carImages/supercar.jpg">Supercar</option>
    <option value="../static/images/carImages/cabriolet.jpg">Cabriolet</option>
    <option value="../static/images/carImages/minivan.jpg">Minivan</option>
  </select>
  <input type="submit" value="Go!">
</input> -->
