<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VroomVroom Home</title>
    <link rel="stylesheet" type="text/css" href="../static/autoSpanhome.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <meta name="google-signin-client_id" content="autoSpan_ID.apps.googleusercontent.com">
  </head>

  <audio>
    <source src="../audio/beep.mp3" id="beepAudio"></source>
  </audio>

  <body class=bodyBackground>
    <script src="../static/js/autoSpanhome.js">
    </script>

        <br>
        <nav>
          <ul>
            <li><a href="/"> Home</a></li>
            <li><a href="/input-timeline"> Timeline</a></li>
            <li><a href="/enter-info"> Car Info</a></li>
            <li><a href={{signout_link_html}}> Sign Out</a></li>
          </ul>
        </nav>
        <br>

    <div class=container>
        <img id="vvLogo" src="https://i.imgur.com/zj7RRbC.png" alt="Vroom Vroom Logo">
    </div>

    <div class="box1">
      <h1 id=whatVroom><b><i> What is Vroom IQ? </i> </b></h1> Dog years measure the lifespans of our beloved canine companions. But what do we use to measure the life expectancy of our precious automobiles?
       Vroom IQ is a platform that takes input information involving your vehicle
      and calculates an age. This ' Car Age' is used to give particular maintenance tips.
      <br>
      <h1 id=whoVroom><b><i> Who is Vroom IQ for?</i></b></h1> For new car owners, those who consider themselves vehicle enthusiast and many more.
    </div>

    <div class="accordionFAQ">
      <section id="panel1">
        <a href="#panel1"> What sort of data do I need about my car?</a>
        <p>Users will need to know their
          vehicle's type, make(year), model, and mileage.</p>
      </section>

      <section id="panel2">
        <a href="#panel2"> My car's information was not listed or could not be found. </a>
        <p>If your information is not
         currently available email us, <a href="mailto:vroomiq@example.com">Vroom IQ</a></p>
      </section>
    </div>

    <!-- <ul class="socialMedia">
      <li><a href="https://www.instagram.com/daisha.http/"><img src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-circle-512.png"
        alt="instagram icon" > </a></li>
      <li><a href="https://www.linkedin.com/in/daisha-thornton-610805181"><img src="https://cdn4.iconfinder.com/data/icons/social-media-icons-the-circle-set/48/linkedin_circle-512.png"
        alt="linkedIn icon"> </a></li>
      <li><a href="https://github.com/universalflaws"><img src="https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/github-512.png"
        alt="gitHub icon"> </a></li>
    </ul> -->

  </body>

<!-- login_url -->
      <!-- <div class="loginButton">
        <a href="/">
          <div class="signInLeft">
              <img id="signinImage" alt="google sign in prompt" src="https://www.codenameone.com/img/blog/google-sign-in.png">
          </div>
        </a>
      </div> -->

</html>
