<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>VroomVroom Login...</title>
    <script src= "../static/js/autoSpanlogin.js">
    </script>
    <link rel="stylesheet" type="text/css" href="../static/autoSpan.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <meta name="google-signin-client_id" content="autoSpan_ID.apps.googleusercontent.com">
  </head>

  <audio>
      <source src="beep.mp3" type="audio/mp3"></source>
  </audio>

  <body class=bodyBackground>
        <br>
        <nav>
          <ul>
            <li><a href="#"> Home</a></li>
            <!-- <li><a href="#"> About</a></li>
            <li><a href="#"> Timeline</a></li> -->
          </ul>
        </nav>
        <br>

    <div class=container>
        <img id="vvLogo" src="https://i.imgur.com/zj7RRbC.png" alt="Vroom Vroom Logo">
    </div>



    <div class =LogIn>
      <a href="{{login_url}}"><input type="image" src="https://i.imgur.com/uSxE91c.png" id=signInbutton> </input></a>
    </div>

  </body>

<!-- login_url -->
      <!-- <div class="loginButton">
        <a href="/">
          <div class="signInLeft">
              <img id="signinImage" alt="google sign in prompt" src="https://www.codenameone.com/img/blog/google-sign-in.png">
          </div>
        </a>
      </div> -->

  </body>
</html>
